span{
    font-style: italic;font-weight: 700;
}
body{
  align-items: center;
  padding-top: 170px;
}
input {
    border: 2px solid black;
    border-radius: 4px;
    height:50px;
    line-height: 2em;
    padding: 0 0.2em;
    border-top-width:50px;
    }
  }
  input[type=button]{
    text-align: center;
    width: auto;
    padding: 0 1em;
      
  }
  #paymentAmount{
    border-width:2px;
    border-style: solid black;
  }
  button[id="paymentAmount"] {
    height:40px;
    width:150px;
  }
